In [ ]:
# Instalações e downloads necessários

!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq

!wget -q https://downloads.apache.org/spark/spark-3.5.5/spark-3.5.5-bin-hadoop3.tgz
!tar xf spark-3.5.5-bin-hadoop3.tgz

import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.5-bin-hadoop3"

!pip install -q findspark

import findspark
findspark.init()

^C
^C
^C

gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now

Exception: Unable to find py4j in /content/spark-3.5.5-bin-hadoop3/python, your SPARK_HOME may not be configured correctly

In [ ]:
# Importações

from pyspark import SparkContext
from pyspark.sql import SparkSession

In [ ]:
# Criando objeto SparkSession

spark = SparkSession.builder.getOrCreate()

In [ ]:
# Lendo o dataframe

df = spark.read.parquet("yellow_tripdata_2024-01.parquet")

In [ ]:
# Verificando o dataframe

df.describe().show()

In [ ]:
# Verificando a existência de dados inconsistentes

df.createOrReplaceTempView("yellow_tripdata")
resultado = spark.sql("SELECT * FROM yellow_tripdata WHERE passenger_count <= 0")
resultado.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-01-01 00:30:40|  2024-01-01 00:58:40|              0|          3.0|         1|                 N|         246|         231|           2|       25.4|  3.5|    0.5|       0.0|         0.0|                  1.0|        30.4|                 2.5|        0.0|
|       1| 2024-01-01 00:49:42|  2024-01-01 00:58:21|              0|          2.9|         1|                 N|          87|          79|           1|       14.9|  3.5|    0.5|       5.0|         0.0|                  1.0|        24.9|                 2.5|        0.0|
|       1| 2024-01-01 00:42:26|  2024-01-01 01:12:01|              0|         16.6|         2|                 N|         132|         233|           1|       70.0| 4.25|    0.5|     16.53|        6.94|                  1.0|       99.22|                 2.5|       1.75|
|       1| 2024-01-01 00:38:18|  2024-01-01 01:01:12|              0|          2.5|         1|                 N|          90|         229|           1|       17.0|  3.5|    0.5|       5.5|         0.0|                  1.0|        27.5|                 2.5|        0.0|
|       1| 2024-01-01 00:26:21|  2024-01-01 00:38:03|              0|          3.4|         1|                 N|         137|         263|           1|       15.6|  3.5|    0.5|      2.06|         0.0|                  1.0|       22.66|                 2.5|        0.0|
|       1| 2024-01-01 00:38:43|  2024-01-01 00:51:53|              0|          2.6|         1|                 N|         263|         170|           1|       14.9|  3.5|    0.5|      3.95|         0.0|                  1.0|       23.85|                 2.5|        0.0|
|       1| 2024-01-01 00:19:40|  2024-01-01 00:38:32|              0|          2.6|         1|                 N|          79|         170|           1|       17.7|  3.5|    0.5|       4.5|         0.0|                  1.0|        27.2|                 2.5|        0.0|
|       1| 2024-01-01 00:22:37|  2024-01-01 00:28:23|              0|          0.8|         1|                 N|         148|         107|           1|        6.5|  3.5|    0.5|       2.3|         0.0|                  1.0|        13.8|                 2.5|        0.0|
|       1| 2024-01-01 00:29:31|  2024-01-01 00:41:08|              0|          1.7|         1|                 N|         107|         249|           1|       11.4|  3.5|    0.5|       4.9|         0.0|                  1.0|        21.3|                 2.5|        0.0|
|       1| 2024-01-01 00:42:39|  2024-01-01 00:49:27|              0|          0.8|         1|                 N|         249|         249|           1|        7.2|  3.5|    0.5|       5.0|         0.0|                  1.0|        17.2|                 2.5|        0.0|
|       1| 2024-01-01 00:34:01|  2024-01-01 00:50:29|              0|          2.2|         1|                 N|         164|         211|           1|       16.3|  3.5|    0.5|      4.25|         0.0|                  1.0|       25.55|                 2.5|        0.0|
|       1| 2024-01-01 00:01:06|  2024-01-01 00:16:37|              0|          2.5|         1|                 N|          68|         162|           2|       17.0|  3.5|    0.5|       0.0|         0.0|                  1.0|        22.0|                 2.5|        0.0|
|       1| 2024-01-01 00:28:09|  2024-01-01 00:55:11|              0|          3.1|         1|                 N|         162|         238|           1|       26.1|  3.5|    0.5|      7.75|         0.0|                  1.0|       38.85|                 2.5|        0.0|
|       1| 2024-01-01 00:59:11|  2024-01-01 01:22:49|              0|          5.8|         1|                 N|         239|           7|           1|       28.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        36.2|                 2.5|        0.0|
|       1| 2024-01-01 00:16:48|  2024-01-01 00:18:59|              0|          0.4|         1|                 N|         237|         141|           1|        5.1|  3.5|    0.5|       2.5|         0.0|                  1.0|        12.6|                 2.5|        0.0|
|       1| 2024-01-01 00:08:00|  2024-01-01 00:12:49|              0|          1.0|         1|                 N|         141|         140|           1|        7.2|  3.5|    0.5|      3.65|         0.0|                  1.0|       15.85|                 2.5|        0.0|
|       1| 2024-01-01 00:11:17|  2024-01-01 00:17:05|              0|          1.2|         1|                 N|         249|          79|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|        0.0|
|       1| 2024-01-01 00:20:59|  2024-01-01 00:48:24|              0|          5.8|         1|                 N|          79|         143|           1|       27.5|  3.5|    0.5|       1.0|         0.0|                  1.0|        33.5|                 2.5|        0.0|
|       1| 2024-01-01 00:41:41|  2024-01-01 00:55:12|              0|          6.1|         1|                 N|         132|         216|           2|       24.7| 2.75|    0.5|       0.0|         0.0|                  1.0|       28.95|                 0.0|       1.75|
|       1| 2024-01-01 00:28:23|  2024-01-01 00:48:56|              0|          6.4|         1|                 N|         161|         261|           1|       30.3|  3.5|    0.5|      10.0|         0.0|                  1.0|        45.3|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
# Limpando dados inconsistentes

df = df.filter(df['passenger_count'] > 0)
df.select('passenger_count').show()

+---------------+
|passenger_count|
+---------------+
|              1|
|              1|
|              1|
|              1|
|              1|
|              1|
|              2|
|              1|
|              1|
|              2|
|              2|
|              2|
|              2|
|              1|
|              1|
|              1|
|              1|
|              1|
|              1|
|              1|
+---------------+
only showing top 20 rows

In [ ]:
# Verificando a existência de dados inconsistentes

df.createOrReplaceTempView("yellow_tripdata")
resultado = spark.sql("SELECT * FROM yellow_tripdata WHERE trip_distance <= 0")
resultado.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-01 00:52:09|  2024-01-01 00:52:28|              1|          0.0|         1|                 N|         237|         237|           2|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       1| 2024-01-01 00:14:29|  2024-01-01 00:14:29|              1|          0.0|         1|                 N|         236|         264|           2|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       1| 2024-01-01 00:58:50|  2024-01-01 01:01:10|              1|          0.0|         1|                 N|         162|         162|           1|        4.4|  3.5|    0.5|       2.0|         0.0|                  1.0|        11.4|                 2.5|        0.0|
|       1| 2024-01-01 00:15:16|  2024-01-01 00:26:58|              2|          0.0|         1|                 N|          79|         264|           1|       10.7|  3.5|    0.5|       3.1|         0.0|                  1.0|        18.8|                 2.5|        0.0|
|       1| 2024-01-01 00:39:34|  2024-01-01 01:04:02|              1|          0.0|         1|                 N|         161|         264|           1|       19.8|  3.5|    0.5|       2.0|         0.0|                  1.0|        26.8|                 2.5|        0.0|
|       1| 2024-01-01 00:18:26|  2024-01-01 00:52:40|              1|          0.0|        99|                 N|         222|         147|           1|       52.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       60.94|                 0.0|        0.0|
|       2| 2024-01-01 00:04:05|  2024-01-01 00:04:11|              1|          0.0|         5|                 N|         143|         143|           1|       12.2|  0.0|    0.0|       0.0|         0.0|                  1.0|        13.2|                 0.0|        0.0|
|       1| 2024-01-01 00:25:58|  2024-01-01 00:27:19|              1|          0.0|         5|                 N|         114|         114|           1|       10.0|  0.0|    0.0|       2.2|         0.0|                  1.0|        13.2|                 0.0|        0.0|
|       1| 2024-01-01 00:31:10|  2024-01-01 00:36:41|              2|          0.0|         1|                 N|         264|         162|           2|        6.5|  3.5|    0.5|       0.0|         0.0|                  1.0|        11.5|                 2.5|        0.0|
|       2| 2024-01-01 00:28:27|  2024-01-01 00:29:15|              4|          0.0|         5|                 N|         265|         265|           1|      180.0|  0.0|    0.0|      36.2|         0.0|                  1.0|       217.2|                 0.0|        0.0|
|       2| 2024-01-01 00:35:57|  2024-01-01 00:36:07|              1|          0.0|         1|                 N|          42|          42|           2|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         5.5|                 0.0|        0.0|
|       2| 2024-01-01 00:25:37|  2024-01-01 00:25:40|              3|          0.0|         5|                 N|         233|         264|           1|       15.0|  0.0|    0.5|       0.0|         0.0|                  1.0|        16.5|                 0.0|        0.0|
|       1| 2024-01-01 00:31:06|  2024-01-01 00:42:00|              1|          0.0|         1|                 N|         263|         238|           1|        3.0|  3.5|    0.5|       8.0|         0.0|                  1.0|        16.0|                 2.5|        0.0|
|       2| 2024-01-01 00:33:28|  2024-01-01 00:33:57|              2|          0.0|         1|                 N|         162|         162|           4|       -3.0| -1.0|   -0.5|       0.0|         0.0|                 -1.0|        -8.0|                -2.5|        0.0|
|       2| 2024-01-01 00:33:28|  2024-01-01 00:33:57|              2|          0.0|         1|                 N|         162|         229|           4|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2024-01-01 00:59:23|  2024-01-01 00:59:27|              1|          0.0|         2|                 N|         107|         107|           2|       70.0|  0.0|    0.5|       0.0|         0.0|                  1.0|        74.0|                 2.5|        0.0|
|       2| 2024-01-01 00:45:06|  2024-01-01 00:45:22|              1|          0.0|         5|                 N|         231|         231|           1|       30.0|  0.0|    0.0|       6.7|         0.0|                  1.0|        40.2|                 2.5|        0.0|
|       1| 2024-01-01 00:13:45|  2024-01-01 00:22:08|              1|          0.0|        99|                 N|         263|         140|           1|       17.5|  0.0|    0.5|       0.0|         0.0|                  1.0|        19.0|                 0.0|        0.0|
|       2| 2024-01-01 00:26:59|  2024-01-01 00:32:45|              2|          0.0|         1|                 N|         264|         264|           1|        6.5|  1.0|    0.5|       2.3|         0.0|                  1.0|        13.8|                 2.5|        0.0|
|       2| 2024-01-01 00:34:49|  2024-01-01 01:10:54|              2|          0.0|         1|                 N|         264|         264|           1|       27.5|  1.0|    0.5|      8.12|         0.0|                  1.0|       40.62|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
# Limpando dados inconsistentes

df = df.filter(df['trip_distance'] > 0)
df.select('trip_distance').show()

+-------------+
|trip_distance|
+-------------+
|         1.72|
|          1.8|
|          4.7|
|          1.4|
|          0.8|
|          4.7|
|        10.82|
|         5.44|
|         0.04|
|         0.75|
|          1.2|
|          8.2|
|          0.4|
|          0.8|
|          5.0|
|          1.5|
|          1.5|
|         2.57|
|         0.66|
|          1.7|
+-------------+
only showing top 20 rows

In [ ]:
# Verificando a existência de dados inconsistentes

df.createOrReplaceTempView("yellow_tripdata")
resultado = spark.sql("SELECT * FROM yellow_tripdata WHERE fare_amount < 0")
resultado.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

In [ ]:
# Limpando dados inconsistentes

df = df.filter(df['fare_amount'] >= 0)
df.select('fare_amount').show()

+-----------+
|fare_amount|
+-----------+
|       17.7|
|       10.0|
|       23.3|
|       10.0|
|        7.9|
|       29.6|
|       45.7|
|       31.0|
|        3.0|
|        7.9|
|       14.9|
|       59.0|
|        5.8|
|        6.5|
|       21.2|
|       12.8|
|        9.3|
|       17.7|
|        6.5|
|       29.6|
+-----------+
only showing top 20 rows

In [ ]:
from functools import reduce
from pyspark.sql.functions import col

# Verificando a existência de dados nulos

conds = [col(c).isNull() for c in df.columns]
any_null = reduce(lambda a, b: a | b, conds)

df.filter(any_null).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-01 00:18:24|  2024-01-01 00:30:39|              1|         2.16|         1|                 N|         249|         232|           4|      -13.5| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -18.5|                -2.5|        0.0|
|       2| 2024-01-01 00:04:00|  2024-01-01 00:04:44|              1|         0.01|         5|                 N|          63|          63|           2|      -31.5|  0.0|    0.0|       0.0|         0.0|                 -1.0|      -34.25|                 0.0|      -1.75|
|       2| 2024-01-01 00:41:42|  2024-01-01 00:46:00|              1|         0.47|         1|                 N|         249|         113|           4|       -5.8| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -10.8|                -2.5|        0.0|
|       2| 2024-01-01 00:42:02|  2024-01-01 01:14:33|              1|         5.48|         1|                 N|         107|          61|           2|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|        0.0|
|       2| 2024-01-01 00:24:02|  2024-01-01 01:10:32|              1|         8.74|         1|                 N|          90|         225|           4|      -47.8| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -52.8|                -2.5|        0.0|
|       2| 2024-01-01 00:14:22|  2024-01-01 00:21:53|              1|         1.17|         1|                 N|         170|         161|           4|       -9.3| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -14.3|                -2.5|        0.0|
|       2| 2024-01-01 00:45:56|  2024-01-01 00:56:05|              3|         1.57|         1|                 N|          79|         234|           4|      -11.4| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -16.4|                -2.5|        0.0|
|       2| 2024-01-01 00:30:18|  2024-01-01 00:57:39|              1|          9.6|         1|                 N|          79|          69|           4|      -40.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -45.1|                -2.5|        0.0|
|       2| 2024-01-01 00:30:10|  2024-01-01 00:40:01|              2|         1.58|         1|                 N|         249|         231|           4|      -11.4| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -16.4|                -2.5|        0.0|
|       2| 2024-01-01 00:20:38|  2024-01-01 00:32:34|              1|         1.89|         1|                 N|         170|         113|           4|      -12.8| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -17.8|                -2.5|        0.0|
|       2| 2024-01-01 00:14:14|  2024-01-01 00:24:57|              2|         0.63|         1|                 N|         164|         170|           2|      -10.0| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -15.0|                -2.5|        0.0|
|       2| 2024-01-01 00:41:41|  2024-01-01 01:03:04|              1|         3.15|         1|                 N|         234|         141|           4|      -20.5| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -25.5|                -2.5|        0.0|
|       2| 2024-01-01 00:17:55|  2024-01-01 00:18:05|              1|         0.01|         2|                 N|          90|          90|           4|      -70.0|  0.0|   -0.5|       0.0|         0.0|                 -1.0|       -74.0|                -2.5|        0.0|
|       2| 2024-01-01 00:52:15|  2024-01-01 00:58:29|              2|         0.66|         1|                 N|         161|         237|           2|       -7.2| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -12.2|                -2.5|        0.0|
|       2| 2024-01-01 00:23:02|  2024-01-01 00:31:32|              4|         1.72|         1|                 N|         231|          66|           2|      -11.4| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -16.4|                -2.5|        0.0|
|       2| 2024-01-01 00:57:50|  2024-01-01 01:33:49|              2|         4.07|         1|                 N|         161|         229|           4|      -32.4| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -37.4|                -2.5|        0.0|
|       2| 2024-01-01 00:36:26|  2024-01-01 00:39:25|              1|         0.49|         1|                 N|         263|         236|           4|       -5.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -10.1|                -2.5|        0.0|
|       2| 2024-01-01 00:21:39|  2024-01-01 00:25:12|              1|         0.48|         1|                 N|         125|         114|           4|       -5.8| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -10.8|                -2.5|        0.0|
|       2| 2024-01-01 00:37:54|  2024-01-01 00:40:47|              1|         0.89|         1|                 N|         141|         141|           2|       -5.8| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -10.8|                -2.5|        0.0|
|       2| 2024-01-01 00:48:30|  2024-01-01 01:09:02|              1|        15.79|         4|                 N|         132|          15|           4|      -91.9| -1.0|   -0.5|       0.0|         0.0|                 -1.0|      -96.15|                 0.0|      -1.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
# Limpando dados inconsistentes

df = df.filter(df['extra'] >= 0)
df.select('extra').show()

+-----+
|extra|
+-----+
|  1.0|
|  3.5|
|  3.5|
|  3.5|
|  3.5|
|  3.5|
|  6.0|
|  1.0|
|  1.0|
|  1.0|
|  3.5|
|  3.5|
|  3.5|
|  3.5|
| 2.75|
|  3.5|
|  1.0|
|  1.0|
|  1.0|
|  3.5|
+-----+
only showing top 20 rows

In [ ]:
# Limpando dados inconsistentes

df = df.filter(df['mta_tax'] >= 0)
df.select('mta_tax').show()

+-------+
|mta_tax|
+-------+
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
|    0.5|
+-------+
only showing top 20 rows

In [ ]:
# Limpando dados inconsistentes

df = df.filter((df['tip_amount'] >= 0) & (df['congestion_surcharge'] >= 0) & (df['Airport_fee'] >= 0))
df.select('tip_amount', 'congestion_surcharge', 'Airport_fee').show()

+----------+--------------------+-----------+
|tip_amount|congestion_surcharge|Airport_fee|
+----------+--------------------+-----------+
|       0.0|                 2.5|        0.0|
|      3.75|                 2.5|        0.0|
|       3.0|                 2.5|        0.0|
|       2.0|                 2.5|        0.0|
|       3.2|                 2.5|        0.0|
|       6.9|                 2.5|        0.0|
|      10.0|                 0.0|       1.75|
|       0.0|                 2.5|        0.0|
|       0.0|                 2.5|        0.0|
|       0.0|                 2.5|        0.0|
|      3.95|                 2.5|        0.0|
|     14.15|                 2.5|        0.0|
|      1.25|                 2.5|        0.0|
|       0.0|                 2.5|        0.0|
|       0.0|                 0.0|       1.75|
|      4.45|                 2.5|        0.0|
|       3.0|                 2.5|        0.0|
|      10.0|                 2.5|        0.0|
|      2.88|                 2.5|        0.0|
|       6.9|                 2.5|        0.0|
+----------+--------------------+-----------+
only showing top 20 rows

In [ ]:
# Limpando dados inconsistentes. RatecodeID = 99 é um erro segundo pesquisas na internet

df = df.filter(df['RatecodeID'] != 99)
df.select('RatecodeID').show()

+----------+
|RatecodeID|
+----------+
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
|         1|
+----------+
only showing top 20 rows

In [ ]:
# Limpando dados inconsistentes

df = df.filter(df['improvement_surcharge'] >= 0)
df.select('improvement_surcharge').show()

+---------------------+
|improvement_surcharge|
+---------------------+
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
|                  1.0|
+---------------------+
only showing top 20 rows

In [ ]:
# Limpando dados desnecessários

df = df.drop("VendorID",
"passenger_count",
"store_and_fwd_flag",
"payment_type")

In [ ]:
# Analisando o df

df.describe().show()

In [ ]:
# Importa as bibliotecas necessárias para ML

from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType
from pyspark.ml.linalg import Vectors

# Cria um Vetor de Features
# Fare_amount, tip_amount, tolls_amount atrapalham nosso modelo já que interferem diretamente no amount final

assembler = VectorAssembler(
    inputCols=[
        "trip_distance",
        "RatecodeID",
        "PULocationID",
        "DOLocationID",
        "extra",
        "mta_tax",
        "improvement_surcharge",
        "congestion_surcharge",
        "Airport_fee"
    ],
    outputCol="features"
)
df_prepared = assembler.transform(df)

# Dividir em treino e teste

train_data, test_data = df_prepared.randomSplit([0.7, 0.3], seed=42)

# Definir o modelo de regressão

lr = LinearRegression(
    featuresCol="features",
    labelCol="total_amount"  # Agora é uma coluna numérica!
)

# Treinar o modelo

model = lr.fit(train_data)

# Fazer previsões
predictions = model.transform(test_data)

# Avaliar métricas
print(f"RMSE no treino: {model.summary.rootMeanSquaredError:.2f}")
print(f"R² no treino: {model.summary.r2:.2f}")

# Mostrar previsões
predictions.select("total_amount", "prediction").show(10)

RMSE no treino: 13.11
R² no treino: 0.64
+------------+------------------+
|total_amount|        prediction|
+------------+------------------+
|         9.4|16.947972038477154|
|        28.6|20.799088699023017|
|        13.5|20.202002590721293|
|        21.6| 21.95087902269389|
|       11.25|24.284993610715013|
|       16.32| 20.50994623898049|
|         7.6|18.194003128728752|
|       25.55| 23.68813272452433|
|       20.52|  23.4476654310198|
|       92.69| 89.90351849030733|
+------------+------------------+
only showing top 10 rows

In [ ]:
# Testando outros modelos

from pyspark.ml.regression import DecisionTreeRegressor, RandomForestRegressor, GBTRegressor
from pyspark.ml.evaluation import RegressionEvaluator

# Dividir em treino e teste
train, test = df_prepared.randomSplit([0.7, 0.3], seed=42)

# Definir o evaluator de métricas
evaluator_rmse = RegressionEvaluator(
    labelCol="total_amount", predictionCol="prediction", metricName="rmse")
evaluator_r2 = RegressionEvaluator(
    labelCol="total_amount", predictionCol="prediction", metricName="r2")

# Decision Tree Regressor
dt = DecisionTreeRegressor(featuresCol="features", labelCol="total_amount")
model_dt = dt.fit(train)
pred_dt = model_dt.transform(test)
rmse_dt = evaluator_rmse.evaluate(pred_dt)
r2_dt   = evaluator_r2.evaluate(pred_dt)

print(f"Decision Tree — RMSE: {rmse_dt:.2f}, R²: {r2_dt:.2f}")

# Random Forest Regressor
rf = RandomForestRegressor(featuresCol="features", labelCol="total_amount", numTrees=50)
model_rf = rf.fit(train)
pred_rf = model_rf.transform(test)
rmse_rf = evaluator_rmse.evaluate(pred_rf)
r2_rf   = evaluator_r2.evaluate(pred_rf)

print(f"Random Forest  — RMSE: {rmse_rf:.2f}, R²: {r2_rf:.2f}")

# Gradient-Boosted Trees Regressor
gbt = GBTRegressor(featuresCol="features", labelCol="total_amount", maxIter=50)
model_gbt = gbt.fit(train)
pred_gbt = model_gbt.transform(test)
rmse_gbt = evaluator_rmse.evaluate(pred_gbt)
r2_gbt   = evaluator_r2.evaluate(pred_gbt)

print(f"Gradient Boost — RMSE: {rmse_gbt:.2f}, R²: {r2_gbt:.2f}")

# Comparar resultados
results = [
    ("Decision Tree", rmse_dt, r2_dt),
    ("Random Forest", rmse_rf, r2_rf),
    ("Gradient Boost", rmse_gbt, r2_gbt),
]
for name, rmse, r2 in results:
    print(f"{name:15s} | RMSE = {rmse:.2f} | R² = {r2:.2f}")

Decision Tree — RMSE: 6.71, R²: 0.91
Random Forest  — RMSE: 7.60, R²: 0.88
Gradient Boost — RMSE: 6.38, R²: 0.92
Decision Tree   | RMSE = 6.71 | R² = 0.91
Random Forest   | RMSE = 7.60 | R² = 0.88
Gradient Boost  | RMSE = 6.38 | R² = 0.92

Nosso melhor modelo foi o Gradient Boost com R^2 = 0.92